In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
d = pd.read_csv("le_data.csv")

In [3]:
d['r'] = 0.03
d['d'] = 1- d['r']
d.loc[:0,'d'] = 1
d['cum_d'] = np.cumprod(d['d'])
d['l_y'] = 50000
d['h_y'] = 85000
d.loc[d['age']>65, 'l_y'] = 0
d.loc[d['age']>65, 'h_y'] = 0
d['l_survival'] = 1 - d['l_12']
d['h_survival'] = 1 - d['h_12']
d

,l_e,h_e,age,l_12,h_12,life_value,r,d,cum_d,l_y,h_y,l_cum_d,h_cum_d
0,46.118488,49.517731,25,0.002158,0.000890,75000,0.03,1.00,1.000000,50000,85000,0.002158,0.000890
1,45.217148,48.561394,26,0.001234,0.000717,75000,0.03,0.97,0.970000,50000,85000,0.003392,0.001607
2,44.272392,47.595879,27,0.002804,0.000850,75000,0.03,0.97,0.940900,50000,85000,0.006196,0.002457
3,43.395481,46.635944,28,0.002833,0.001078,75000,0.03,0.97,0.912673,50000,85000,0.009029,0.003535
4,42.517345,45.685734,29,0.002682,0.001262,75000,0.03,0.97,0.885293,50000,85000,0.011711,0.004797
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,5.385718,5.562938,81,0.114321,0.092771,75000,0.03,0.97,0.181642,0,0,1.375782,1.077952
57,5.016356,5.080658,82,0.105805,0.104312,75000,0.03,0.97,0.176193,0,0,1.481587,1.182263
58,4.550752,4.614121,83,0.119785,0.102942,75000,0.03,0.97,0.170907,0,0,1.601372,1.285205
59,4.101993,4.086234,84,0.132056,0.135842,75000,0.03,0.97,0.165780,0,0,1.733428,1.421047
60,3.650044,3.649969,85,5.300000,5.300000,75000,0.03,0.97,0.160807,0,0,7.033428,6.721047

In [50]:
γ = 1.25
α = -16.2
r = 0.03

In [54]:
d['w'] = ( (d['l_y'] ** (1 - 1/γ)) * (d['h_12'] / d['l_12']) + α * (1 - 1/γ) * ((d['h_12'] - d['l_12'])/ d['l_12']))**(γ/(γ - 1)) - d['l_y']

In [55]:
d['l_cum_w']=d.w[::-1].cumsum()
d

,l_e,h_e,age,l_12,h_12,life_value,r,d,cum_d,l_y,h_y,w,l_cum_w
0,46.118488,49.517731,25,0.002158,0.000890,75000,0.03,1.00,1.000000,50000,85000,-4.499419e+04,-1.151092e+06
1,45.217148,48.561394,26,0.001234,0.000717,75000,0.03,0.97,0.970000,50000,85000,-3.913055e+04,-1.106097e+06
2,44.272392,47.595879,27,0.002804,0.000850,75000,0.03,0.97,0.940900,50000,85000,-4.718445e+04,-1.066967e+06
3,43.395481,46.635944,28,0.002833,0.001078,75000,0.03,0.97,0.912673,50000,85000,-4.573971e+04,-1.019782e+06
4,42.517345,45.685734,29,0.002682,0.001262,75000,0.03,0.97,0.885293,50000,85000,-4.336960e+04,-9.740428e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,5.385718,5.562938,81,0.114321,0.092771,75000,0.03,0.97,0.181642,0,0,8.498394e-02,1.046035e-01
57,5.016356,5.080658,82,0.105805,0.104312,75000,0.03,0.97,0.176193,0,0,1.999254e-07,1.961955e-02
58,4.550752,4.614121,83,0.119785,0.102942,75000,0.03,0.97,0.170907,0,0,1.962626e-02,1.961935e-02
59,4.101993,4.086234,84,0.132056,0.135842,75000,0.03,0.97,0.165780,0,0,-6.915252e-06,-6.915252e-06
60,3.650044,3.649969,85,5.300000,5.300000,75000,0.03,0.97,0.160807,0,0,0.000000e+00,0.000000e+00